<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.app.budgetbee">
    <!-- To access Google+ APIs: -->
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_budget_bliss_icon"
        android:label="@string/app_name"
        android:name=".BudgetBeeApplication"
        android:roundIcon="@drawable/ic_budget_bliss_icon"
        android:supportsRtl="true"
        android:theme="@style/BudgetBeeMainTheme">
        <activity
            android:label="@string/title_activity_report"
            android:name=".ui.report.ReportActivity"
            android:theme="@style/BudgetBeeMainTheme.NoActionBar"/>
        <activity android:name=".ui.edit_transaction.EditTransactionActivity" />
        <activity android:name=".ui.transaction.TransactionActivity" />
        <activity android:name=".ui.add_transaction.AddTransactionActivity" />
        <activity
            android:label="@string/title_activity_add_transaction_category"
            android:name=".ui.transactions_category.AddTransactionCategoryActivity"
            android:theme="@style/BudgetBeeMainTheme.NoActionBar" />
        <activity android:name=".ui.select_transaction_category.SelectTransactionCategoryActivity" />
        <activity
            android:name=".ui.landing.LandingActivity"
            android:theme="@style/BudgetBeeMainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>